@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
:root{
    --main-bg-color:brown;
}
*{
    margin:0;
    padding:0;
}
header{
    height:12vh;
    background-color: black;
    font-family: 'Noto', sans-serif;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    padding: 0 25px;
    padding-top: 10px;
    justify-content: center;
}
nav ul{
    padding: 5px;
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 30px 20px;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
nav ul li a:hover{
    color:rgb(232, 143, 59);
    font-weight: bold;
}
.btn{
    margin-left: 700px;
    padding: 22px;
}
.btn1{
    background-color: black;
    color: white;
}
.btn2{
    background-color: black;
    color: white;
}
.btn1:hover{
    color: rgb(232, 143, 59);
   
}
.btn2:hover{
    color: rgb(232, 143, 59);
}
.container{
    height: auto;
}
.slider{
    margin-left:170px ;
    margin-top: 5px;
}
.card{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}
.men{
    display: flex;
    justify-content: center;
}
.items{
    margin: 0 5px;;
}
.flex-all-center{
    display:flex;
    justify-content:center;
    align-items:center;
}
.text{
    text-align: center;
}
footer{
    height:14vh;
    background-color: black;
    color:white;
    font-family: 'Noto', sans-serif;
}
